body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.branding{
  width: 30px;
  height: 20px;
}
img.logo{
  width: 200px;
  height: 80px;
  position: static;
  top: 0;
  left: 0;
}
/* Global */
.container{
  width:80%;
  height:30%;
  margin: auto;
  top: 20px;
  overflow:hidden;

}
#myvideo{
  writing-mode: horizontal-tb;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  direction: ltr;
  padding-top:30px;
  min-height:70px;
}


.button_1{
  position: relative;
  display: inline-block;
  border-radius: 16px;
  background-color: #E85138;
  padding: 10px;
  text-align: center;
  color: white;
  width: 120px;
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  margin: 15px 0 0 0;

  
}
.button_1:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 5px;
  height: 6px;
  margin: -4px 0 0 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#314052;
  color:#E85138;
  padding-top:30px;
  min-height:70px;
  border-bottom:#E85138 10px solid;
}

header #branding{
  float:left;
}



header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  color: #E85138
}
#showcase video{
  position: relative;
  
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}
/* modal */

#myModal{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.modal-content{
  height: 300px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}
input {
  margin: 15px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid gray;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
  &:hover {
    color: #666;
  }
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}



footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

